body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #b0b0ff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar-brand {
    float: left;
    font-size: 25px;
    font-weight: 800;

    
}

.navbar-nav {
    float: right;
    margin-left: 0;
}

.nav-item {
    margin-left: 10px;
}

.nav-link {
    color: #ffffffce;
    text-decoration: none;
}

.nav-link:hover {
    color: #260732b4;
}

.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #cccccc;
    transform: scaleY(0.5);
    z-index: -1;
}




#nickname {
    width: 200px;
    padding: 10px;
    border: 2px solid #b0b0ff;
    border-radius: 5px;
    

}

.main-container {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.question-card {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
}

.question-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.question-card img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.question-card ul {
    list-style-type: none;
    padding: 0;
}

.question-card li {
    margin: 10px 0;
}

.question-card .answer {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.question-card .answer:hover {
    background-color: #0056b3;
}
#flag-image {
    max-width: 300px;
    max-height: 200px;
}


.submit-button {
    width: 100px;
    height: 50px;
    background-color: #025a20;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #000;
}

.quiz-info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(2px);
}

.info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background: rgba(255, 255, 255);
    z-index: 9999;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.info ul li {
    text-align: start;
}


.quiz-info p {
    text-align: center;
    padding: 20px;
}

.quiz-info .close-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #1c721c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.quiz-info .close-button:hover {
    background-color: #57b929;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
