body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    background-color: #b0b0ff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.navbar-brand {
    float: left;
    font-size: 25px;
    font-weight: 800;
}



.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #cccccc;
    transform: scaleY(0.5);
    z-index: -1;
}




#nickname {
    width: 200px;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #b0b0ff;
    border-radius: 5px;
    

}

.main-container {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.question-card {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
}

.question-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.question-card img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.question-card ul {
    list-style-type: none;
    padding: 0;
}

.question-card li {
    margin: 10px 0;
}

.question-card .answer {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.question-card .answer:hover {
    background-color: #0056b3;
}
#flag-image {
    max-width: 300px;
    max-height: 200px;
}


.quiz-info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.377);
}

.info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 320px;
    background: rgba(255, 255, 255);
    z-index: 9999;
    text-align: center;
    padding: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.info ul li {
    text-align: start;
}


.quiz-info p {
    text-align: center;
    padding: 20px;
}
.quiz-info .close-button{
    cursor: pointer;
    padding: 10px 20px;
    background-color: #1c721c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #1c721c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.button:hover {
    background-color: #57b929;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.box-warning {
    display: none;
    background-color: #ffcccc;
    color: #ff0000;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}

.box-warning p {
    margin: 0;
}

.results {
    display: none;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.results h2 {
    align-items: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.result-list {
    list-style-type: decimal;
    padding-left: 20px;
}

.result-list li {
    font-size: 18px;
    color: #444;
    margin-bottom: 5px;
}